.forget-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: 0.3s;
    transform: scale(1);
}
.forget {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin: 0 auto;
    height: 85%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    background-color: white;
}
.forget-title {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.close {
    cursor: pointer;
    font-size: 1.25rem;
}
.title {
    font-size: 1.25rem;
}
.open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}
.btn {
    width: 10rem;
}
.parent {
    width: 100%;
}
.form {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
 width: 100%;
}
.form > div {
    width: 100%;
}
.btn-forget-main {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 1rem;
}